;; This is too complicated for my use case. I'm leaving this here
;; as an example of what not to do. Don't do this.
{:looper {:children {:recording {:doc "Check the recording state"
                                 :args {}
                                 :children {:start {:doc "Start recording"
                                                    :args {}}
                                            :stop {:doc "Stop recording"
                                                   :args {}}}}
                     :loop {:doc "Get loop by id or all loops if no id provided"
                            :args {:id {:required false
                                        :type integer?}}
                            :children {:start {:doc "Start loop or all loops"
                                               :args {:id {:required false
                                                           :type integer?}}}
                                       :stop {:doc "Stop loop or all loops"
                                              :args {:id {:required false
                                                          :type integer?}}}
                                       :delete {:doc "Delete loop or all loops"
                                                :args {:id {:required false
                                                            :type integer?}}}}}
                     :kick {:doc "Make kick sound"
                            :args {}}
                     :bpm {:doc "Get or set the bpm"
                           :args {:n {:required false
                                      :type integer?}}}
                     :echo {:doc "Respond exactly the same as input"
                            :args {} ;; Any args are allowed, this is a unique case
                            }}}}
