;; Very simple edn file containing the routes. Later I will add in argument specs.
;; Do not overcomplicate this.

;; The routes under `app` are what the dsp sends to the clojure app. Specifically they
;; will be continuous updates to the app or triggered responses to requests from the `app`.
;; Both the `app` will read this and the dsp will read the routes under `app`.
;; Only the dsp will need to resad the routes under the `dsp` section.
;; Actually, the GUI will probably want to read from the `dsp` section to dynamically
;; create a UI that can trigger all dsp commands.

{:app [["/app/tick" {:handler app.handlers/tick}]
       ]

 :dsp [["/dsp/kick"]
       ]}
